@font-face {
    font-family: 'RobotoSlab';
    src: url('../fonts/RobotoSlab-VariableFont_wght.svg') format('svg'),
         url('../fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype'),
         url('../fonts/RobotoSlab-VariableFont_wght.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    max-width: 1115px;
    width: 100%;
    margin: 0 auto;
}
body{
    background-color: #f7f7f7;
    font-family: 'RobotoSlab';
}
a:hover{
    text-decoration: none;
}
.activ_column a:hover{
    text-decoration: none;
    outline-color: #57984C; 
}
.activ_column a:visited{
    color: #57984C;
}
/*                  Site top                */

.banner{
    height: 850px;
    padding-top: 20px;
    background: url(../images/bg/bg.png) center center/cover no-repeat;
}
.header{
    max-height: 113px;
    display: flex;
}
.searchnav{
    display: flex;
    flex-direction: column;
}
.caption{
    position: relative;
    max-width: 805px;
    max-height: 183px;
    margin: 0 auto;
    margin-top: 230px;
    text-align: center;
}
.caption_text{
    font-size: 48px;
    text-align: center;
    color: #735440;
    font-weight: 700;
}
.read_more{
    background-color: #57984C;
    color: white;
    height: 55px;
    width: 160px;
    padding: 16px, 31px, 16px, 31px;
    margin-top: 60px;
    cursor: pointer;
    font-family: 'Roboto';
}


/*                 Search menu               */

.search{
    width: 350px;
    height: 29px;
    float: right;
}
input, button{
    background: transparent;
    border: none;
    display: inline-block;
    outline: none;
}
button{
    float: right;
    cursor: pointer;
}
.subscribe-for-push{
    background-color: #57984C;
    color: white;
    font-family: 'Roboto';
    padding: 15px 30px;
    display: block;
    float: none;
    margin: 50px auto;
}
hr{
    max-width: 350px;
    border: none ;
    margin: 0;
    height: 1px;
    background-color: black;
    color: black;
}

/*                   Nav list                */

.list{
    margin-left: 10px;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Roboto';
    color: #324950;
}
.navigation{
    text-align: right;
    margin-top: 42px;
}

.menu{
    justify-content: end;
}
.menu, .search{
    margin-top: -40px;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
    justify-content: end;
}
.navbar a{
    text-decoration: none;
    color: inherit;
}
.logo{
    margin-right: 50px;
}
.list{
    list-style: none;
    display: flex;
    gap: 25px;
}
#toggler,
.navbar label{
    display: none;
}

/*               Products slide              */

.products{
    padding: 44px 0;
    margin-bottom: 71px;
    background-color: white;
}
.products_slide{
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.products_slide img{
    width: 60px;
    height: 60px;
}
.products_slide p {
    margin-top: 20px;
}

/*                 Vision mission                */

.vision_mission{
    min-height: 1100px;
    background: url(../images/bg/vision_mission.svg) center center/cover no-repeat;
}
.vision{
    padding-top: 50px;
    margin-top: 20px;
}
.visimg img {
    width: 100%;
}
.misimg1, .visimg1{
    margin-bottom: 30px;
    margin-top: 25px;
}
.title_vis p{
    /* margin-top: 95px; */
    margin-bottom: 0;
    font-size: 64px;
    font-weight: 700;
    color: #324950;
}
.text_vis p{
    font-size: 20px;
    color: #324950;
}
.visblock{
    margin-left: 30px;
}

/*               main activities            */

.main_activ{
    min-height: 640px;
    background-color: #ededed;
}
.main_activ{
    font-size: 64px;
    color: #324950;
    padding-top: 70px;
    text-align: center;
    font-weight: 700;
}
.activ_union{
    margin-top: -40px;
}
.activ_column{
    font-size: 24px;
    color: #57984C;
}
.activ_column .activ_examples{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    color: #324950;
}

/*                     footer                   */

footer {
    background-color: #324950;
    color: #B9B9B9;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px 0;
}

@media (max-width: 992px)
{
    .col-lg-5{
        text-align: center;
    }
    .visblock{
        margin-left: 0;
    }
}